---
import Layout from "@/layouts/Layout.astro";
import Ayahs from "@/components/Ayahs.tsx";
import type {Ayah} from "@/components/Ayahs.tsx";
import axios from "axios";
import type { Surah } from "@/components/Home.tsx";

export async function getStaticPaths() {
  const res = await axios.get("http://api.alquran.cloud/v1/surah");
  const data = await res.data.data;
  const paramsData = await data.map((each: Surah) => {
    return {
      params: { name: `${each.englishName}-${each.number}` },
    };
  });
  return paramsData;
}
const { name } = Astro.params;
const id = name ? name.split("-").reverse()[0] : "0";

const getSurahResponseEng = await axios.get(
  `https://quranenc.com/api/v1/translation/sura/english_saheeh/${id}`,
);
const getData = await getSurahResponseEng.data.result;

const getSurahResponse = await axios.get(
  `http://api.alquran.cloud/v1/surah/${id}`,
);
const arabicAyah = await getSurahResponse.data.data;

const data = await arabicAyah.ayahs.map((each:Ayah[], index: number) => {
  return {
    ...each,
    translation: getData[index].translation,
    footnotes: getData[index].footnotes || "",
  };
});
---

<Layout title={`Surah | ${name}`}>
  <main>
    <Ayahs data={data} name={arabicAyah.englishName} />
  </main>
</Layout>
